{{!--
Re-usable card for linking to posts
--}}
<article class="rounded overflow-hidden shadow-lg mt-4 md:w-2/3 block mx-auto {{if @post.image 'with-image' 'no-image'}}" style={{computedStyle}}>
  {{#link-to 'post' @post.id}}
    <div class="post-card-content p-2">
      <h2 class="text-gray-700 text-sm">{{moment-format @post.date "MM/DD/YYYY"}}</h2>
      <h2 class="text-xl">{{@post.title}}</h2>
    </div>
  {{/link-to}}
</article>
